.About-container {
    margin: 4rem 6rem;
    text-align: start;
}

.About-container h1 {
    padding-bottom: 1rem;
}

.About-container p {
    padding-bottom: 2rem;
}

@media screen and (max-width:850px) {
    .About-container {
        margin: 4rem 6rem;

    }
}